@font-face {
	font-family: "SourceSansProLight";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/sspl.woff") format("woff");
}

html {
	font-family: "SourceSansProLight", "Helvetica", sans-serif;
}

body {
	margin: 0px;
}

section {
	display: block;
}

.content {
	margin: auto;
	width: 960px;
}

#title {
	background-color: #C5F290;
	background-image: url('../images/noise.png');
	padding: 16px;
	border-bottom: 1px solid #647440;
}

#title h1 {
	font-size: 64px;
	text-shadow: 0px 0px 8px #3B4A26;
}

#title h1 a {
	color: #fff;
	text-decoration: none;
}

#navigation {
	background-color: #ccc;
	padding: 12px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #bbb;
}

#navigation a {
	color: #111;
	margin-right: 32px;
}

#body {
	background-color: #fff;
	padding: 32px;
}

footer {
	background-color: #ccc;
	padding: 16px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
